/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*body {
	line-height: 1;
}*/
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article, aside, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}



/* BODY */

html{
    font-size: 10px;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* FONTS */

@font-face {
      font-family: 'GilroyBold';
      src: url('fonts/gilroy-bold-webfont.woff2') format('woff2');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
  }
  

@font-face {
      font-family: 'gotham_htf';
      src: url('fonts/gothamhtf-book-webfont.eot');
      src: url('fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
           url('fonts/gothamhtf-book-webfont.woff2') format('woff2'),
           url('fonts/gothamhtf-book-webfont.woff') format('woff'),
           url('fonts/gothamhtf-book-webfont.ttf') format('truetype'),
           url('fonts/gothamhtf-book-webfont.svg#gotham_htfbook') format('svg');
      font-weight: 400;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'gotham_htf';
      src: url('fonts/gothamhtf-bookitalic-webfont.eot');
      src: url('fonts/gothamhtf-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('fonts/gothamhtf-bookitalic-webfont.woff2') format('woff2'),
           url('fonts/gothamhtf-bookitalic-webfont.woff') format('woff'),
           url('fonts/gothamhtf-bookitalic-webfont.ttf') format('truetype'),
           url('fonts/gothamhtf-bookitalic-webfont.svg#gotham_htfbook_italic') format('svg');
      font-weight: 400;
      font-style: italic;
  }

  @font-face {
      font-family: 'gotham_htf';
      src: url('fonts/gothamhtf-bold-webfont.eot');
      src: url('fonts/gothamhtf-bold-webfont.eot?#iefix') format('embedded-opentype'),
           url('fonts/gothamhtf-bold-webfont.woff2') format('woff2'),
           url('fonts/gothamhtf-bold-webfont.woff') format('woff'),
           url('fonts/gothamhtf-bold-webfont.ttf') format('truetype'),
           url('fonts/gothamhtf-bold-webfont.svg#gotham_htfbold') format('svg');
      font-weight: 700;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'gotham_htf';
      src: url('fonts/gothamhtf-bolditalic-webfont.eot');
      src: url('fonts/gothamhtf-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('fonts/gothamhtf-bolditalic-webfont.woff2') format('woff2'),
           url('fonts/gothamhtf-bolditalic-webfont.woff') format('woff'),
           url('fonts/gothamhtf-bolditalic-webfont.ttf') format('truetype'),
           url('fonts/gothamhtf-bolditalic-webfont.svg#gotham_htfbold_italic') format('svg');
      font-weight: 700;
      font-style: italic;
  }


  
body{
    font-size: 100%;
    background-color: #000020;
}
body, input, textarea, select, button{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    font-family: 'gotham_htf', sans-serif;
    font-weight: 400;
    color: #3c3c3c;
}
p{
    text-rendering: optimizeLegibility;
}
strong{
    font-weight: 700;
}
em{
    font-style: italic;
}
input, textarea, select, button{
    border: none;
    outline: none;
    resize: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
input:not([type="checkbox"]):not([type="radio"]), textarea, select, button{
    -webkit-appearance: none;
}

button{
    overflow: visible;
}

a, button{
    color: #3c3c3c;
    -webkit-tap-highlight-color: rgba(59,118,242,0.3);
    cursor: pointer;
    outline: none;
    
    transition:
        color 300ms ease-out,
        background 300ms ease-out,
        border 300ms ease-out,
        opacity 300ms ease-out,
        box-shadow 300ms ease-out;
    -webkit-transition:
        color 300ms ease-out,
        background 300ms ease-out,
        border 300ms ease-out,
        opacity 300ms ease-out,
        box-shadow 300ms ease-out;
    -moz-transition:
        color 300ms ease-out,
        background 300ms ease-out,
        border 300ms ease-out,
        opacity 300ms ease-out,
        box-shadow 300ms ease-out;
    -o-transition:
        color 300ms ease-out,
        background 300ms ease-out,
        border 300ms ease-out,
        opacity 300ms ease-out,
        box-shadow 300ms ease-out;
}

img{
    display:inline-block;
    max-width: 100%;
}



/* ******* MOBILE ******* */

/* GENERAL */

.u-hidden-for-seo{
    position: absolute;
    left: -9999px;
}
.o-scrollable{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.o-scrollable--x{
    overflow:hidden;
    overflow-x:auto;
}


/* STRUCTURE */

.o-wrapper{
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 22px;
    padding-right: 22px;
}

.o-section{
    padding-top: 55px;
    padding-bottom: 55px;
}

.o-section--b{
    padding-bottom: 55px;
}

.o-section--t{
    padding-top: 55px;
}

/* ALIGNS */

.o-align-middle:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.o-align-middle__aligner{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}




/* HEADER */

.c-header.is-fixed .c-header__holder{
    background: #0d0e2b;
}

.c-header__holder{
    height: 70px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: linear-gradient(0deg, rgba(0,0,32,0) 0%, rgba(0,0,32,0.8) 100%);
}

.c-header__wrapper{
    height: 100%;
    z-index: 0;
}

.c-header__h1{
    width: 180px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9999;   
}

.c-header__logo {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 17%;
}

.c-header__logo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
      background-image: url(images/logo.svg);
}

/* Header Burguer */

.c-header__nav-btn{
    display: inline-block;
    z-index: 99;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -25px;
}
.c-header__hamburger,
.c-header__hamburger:after,
.c-header__hamburger:before{
    content: "";
    display: block;
    width: 23px;
    height: 3px;
    border-radius: 15px;
    position: absolute;
    background-color: #ffffff;
}
.c-header__hamburger{
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
}
.c-header__hamburger:after,
.c-header__hamburger:before{
    left: 0;
    top: -7px;
}
.c-header__hamburger:after{
    top: 7px;
}

/* NAV */

.c-nav__link{
    display: block;
    position: relative;
    font-size: 1.6rem;
    color: rgba(26,46,53,.9);
    font-weight: 600;
}

.c-nav__buttons{
    margin-top: 20px;
}

.c-nav__btn--demo{
    font-size: 1.5rem;
}

.c-btn__admin-mobile{
    display: block;
}




/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 768px) {
    
    /* STRUCTURE */
    
    .o-wrapper{
        padding-right: 28px;
        padding-left: 28px;
    }
    
    .o-section{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .o-section--b{
        padding-bottom: 70px;
    }

    .o-section--t{
        padding-top: 70px;
    }
    
    /* HEADER */
    
    .c-header__nav-btn {
        right: 14px;
    }
  
}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 980px) {
    
    /* STRUCTURE */
    
    .o-wrapper{
        padding-right: 50px;
        padding-left: 50px;
    }
    
    /* GENERIC STYLES */

    .c-title{
        font-size: 2.9rem;
        margin-top: 10px;
    }

    /* HEADER */
    
    .c-header__nav-btn{
        display: none;
    }

    .c-header__viewport{
        display: block !important;
    }
    
    .c-header__nav{
        padding-left: 210px;
    }
    
    /* NAV */
    
    .c-nav__item{
        display: inline-block;
        margin-left: 30px;
    }
    
    .c-nav__item:first-child{
        margin-left: 0;
    }

    .c-nav__link{
        font-size: 1.4rem;
    }
    
    .c-nav__buttons{
        position: absolute;
        right: 50px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: 0;
    }
    
    .c-nav__item-btn{
        display: inline-block;
        margin-left: 10px
    }
    .c-nav__btn:first-child{
        margin-left: 0;
    }
    
  
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 980px) {
    
    /* STRUCTURE */
    
    .o-wrapper{
        padding-right: 60px;
        padding-left: 60px;
    }

    .o-section--b{
        padding-bottom: 90px;
    }

    .o-section--t{
        padding-top: 90px;
    }
    
    
    /* HEADER */


     /* HEADER */
      
     .c-header,
     .c-header__holder{
         -webkit-transition: height 200ms ease-in-out;
         -moz-transition: height 200ms ease-in-out;
         -o-transition: height 200ms ease-in-out;
         transition: height 200ms ease-in-out;
     }
     .c-header.is-fixed,
     .c-header.is-fixed .c-header__holder{
         -webkit-transition: height 200ms ease-in-out;
         -moz-transition: height 200ms ease-in-out;
         -o-transition: height 200ms ease-in-out;
         transition: height 200ms ease-in-out;
     }
     
   

      /* NAV */
      
      .c-header__nav.o-scrollable{
          overflow: visible;
          overflow-y: visible;
      }
      .c-nav__link{
          color: #fff;
      }
      .c-nav__link:after {
          content: "";
          width: 20%;
          height: 2px;
          position: absolute;
          bottom: -10px;
          left: 40%;
          
          background-color: #fff;
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -o-transform: scaleX(0);
          transform: scaleX(0);
      }
  
      .c-nav__link:hover:after,
      .c-nav__link:focus:after {
          -webkit-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -o-transform: scaleX(1);
          transform: scaleX(1);
          -webkit-transition: transform 300ms ease-out;
          -moz-transition: transform 300ms ease-out;
          -o-transition: transform 300ms ease-out;
          transition: transform 300ms ease-out;
      }

  
      

    
    .c-header{
        
    }
    
    .c-header.is-fixed{
        
    }
    .c-header.is-fixed .c-header__holder{
        
    }
    
    .c-header__holder{
        height: 90px;
    }
    
    .c-header__h1{
        width: 220px;   
    }
    
    .c-header__nav{
        padding-left: 240px;
        padding-right: 270px;
        text-align: right;
    }
    
    /* NAV */
    
    .c-nav__item{
        margin-left: 40px;
    }
    .c-nav__item:first-child{
        margin-left: 0;
    }
    .c-nav__link{
        font-size: 1.8rem;
        font-weight: 400;
    }
    .c-nav__buttons{
        right: 60px;
    }
    .c-nav__btn{
        font-size: 1.8rem;
        font-weight: 700;
    }
    
    .c-nav__btn--admin{
        background: #006bff;
        color: #fff;
        border-radius: 25px;
        padding: 12px 24px 14px;
    }
    
    .c-nav__btn--admin:hover,
    .c-nav__btn--admin:focus{
        background: #5313d8;
    }

    
}


/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 1200px) {
    
    /* STRUCTURE */
    
    .o-section{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .o-section--b{
        padding-bottom: 80px;
    }

    .o-section--t{
        padding-top: 80px;
    }
    
    /* NAV */

    .c-nav__buttons{
        right: 50%;
        margin-right: -530px;
    }
    
    .c-nav__item{
        margin-right: 20px;
    }
    
  

    
 
}



/*  HEADER  */

.c-header__logo:after{
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 48px;
      min-width: 48px;
      margin-top: -24px;
  }
  
  /* Header Burguer */
  
  .c-header__hamburger{
      -webkit-transition: transform 200ms ease-out;
      -moz-transition: transform 200ms ease-out;
      -o-transition: transform 200ms ease-out;
      transition: transform 200ms ease-out;
  }
  .c-header__hamburger:after,
  .c-header__hamburger:before{
      -webkit-transition: transform 200ms cubic-bezier(0.4, 0, 1, 1);
      -moz-transition: transform 200ms cubic-bezier(0.4, 0, 1, 1);
      -o-transition: transform 200ms cubic-bezier(0.4, 0, 1, 1);
      transition: transform 200ms cubic-bezier(0.4, 0, 1, 1);
      -webkit-transition-delay: 100ms;
      -moz-transition-delay: 100ms;
      -o-transition-delay: 100ms;
      transition-delay: 100ms;
  }
  

  /* ************ max-width: 979px ************** */
  
  
  @media (max-width: 979px){
      
      .c-header__hidden{
          margin-left: -28px;
          margin-right: -28px;
          margin-top: 70px;
          overflow: hidden;
      }
      
      .c-header__viewport{
          display: none;
          position: relative;
          top: 0;
          padding-bottom: 60px;
          background-color: #fff;
          margin-left: -28px;
          margin-right: -28px;
          opacity: 0;
          box-shadow: 0px 0px 15px 5px rgba(20,10,0, 0.16);
          -webkit-transform: translateY(-80%);
          -ms-transform: translateY(-80%);
          -o-transform: translateY(-80%);
          transform: translateY(-80%);
          -webkit-transition: transform 400ms ease-out, opacity 400ms ease-out;
          -moz-transition: transform 400ms ease-out, opacity 400ms ease-out;
          -o-transition: transform 400ms ease-out, opacity 400ms ease-out;
          transition: transform 400ms ease-out, opacity 400ms ease-out;
      }
      
      .c-header__nav{
          max-height: calc(100vh - 70px);
      }
      
      .c-viewport__overlay {
          position: absolute;
          display: none;
          top: 0;
          height: 100vh;
          width: 100%;
          margin: 0 -28px;
          background-color: rgba(0,0,0,0.2);
          z-index: -2;
          opacity: 0;
          -webkit-transition: opacity 200ms ease-out;
          -moz-transition: opacity 200ms ease-out;
          -o-transition: opacity 200ms ease-out;
          transition: opacity 200ms ease-out;
      }
      
      .c-header__nav-mobile{
          background-color: #005386;
          padding-top: 50px;
          padding-bottom: 50px;
          opacity: 0;
          text-align: center;
          -webkit-transition: opacity 100ms ease-out;
          -moz-transition: opacity 100ms ease-out;
          -o-transition: opacity 100ms ease-out;
          transition: opacity 100ms ease-out;
          -webkit-transition-delay: 100ms;
          -moz-transition-delay: 100ms;
          -o-transition-delay: 100ms;
          transition-delay: 100ms;
      }
  
      .c-header__nav-mobile:before {
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: top;
      }
      
      /* Open */
      
      .c-header.is-open .c-header__viewport{
          opacity: 1;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
          -webkit-transition: transform 400ms ease-out, opacity 400ms ease-out;
          -moz-transition: transform 400ms ease-out, opacity 400ms ease-out;
          -o-transition: transform 400ms ease-out, opacity 400ms ease-out;
          transition: transform 400ms ease-out, opacity 400ms ease-out;
      }
      
      .c-header.is-open .c-viewport__overlay{
          opacity: 1;
          -webkit-transition: opacity 200ms ease-out;
          -moz-transition: opacity 200ms ease-out;
          -o-transition: opacity 200ms ease-out;
      }
      
      .c-header.is-open .c-header__hamburger{
          -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
          background-color: transparent;
      }
  
      .c-header.is-open .c-header__hamburger:before{
          -webkit-transform: translate3d(0,7px,0) rotate(-45deg);
          -ms-transform: translate3d(0,7px,0) rotate(-45deg);
          -o-transform: translate3d(0,7px,0) rotate(-45deg);
          transform: translate3d(0,7px,0) rotate(-45deg);
      }
  
      .c-header.is-open .c-header__hamburger:after{
          -webkit-transform: translate3d(0,-7px,0) rotate(45deg);
          -ms-transform: translate3d(0,-7px,0) rotate(45deg);
          -o-transform: translate3d(0,-7px,0) rotate(45deg);
          transform: translate3d(0,-7px,0) rotate(45deg);
      }
  
      /* NAV */
  
      .c-nav {
          position: relative;
          display: inline-block;
          vertical-align: top;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
      }
      
      .c-nav__items{
          padding-top: 20px;
      }
  
      .c-nav__item{
          display: block;
          margin-left: 0;
          width: 100%;
      }
      
      .c-nav__link{
          position: relative;
          display: block;
          padding: 18px 0;
      }
      
      
  }
  






body{
    letter-spacing: -0.05em;
    line-height: 1.4;
}
.c-title{
    color: #fff;
    font-size: 3.2em;
    position: relative;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.05em;
}
.c-title:after{
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 80px;
    height: 3px;
    border-radius: 15px;
    background: rgb(144,2,234);
    background: linear-gradient(90deg,  rgba(0,23,195,1) 0%, rgba(144,2,234,1) 100%);
}


/* HERO */

.c-hero{
      position: relative;
      background-image: url(images/hero.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 60% -120px;
      padding-top: 70px;
}
.c-hero::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(0,0,32);
      background: linear-gradient(0deg, rgba(0,0,32,1) 0%, rgba(0,0,32,0.7) 100%);
}
.c-hero:after{
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
}
.c-hero__wrapper{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      z-index: 1;
}
.c-hero-title{
      font-family: 'GilroyBold', sans-serif;
      font-size: 4.4em;
      line-height:0.9;
      color: #fff;
      letter-spacing: -0.05em;
}

.c-hero-title__mark{
    color: #fff;
    text-shadow:4px 4px #5313d8
}

.c-hero__text{
      margin-top: 30px;
      color: #fff;
      font-size: 1.8em;
}



/* CTA */

.c-cta{
      padding: 30px 25px 35px;
      border-radius: 15px;
      margin-top: 45px;
      background: rgb(144,2,234);
      background: linear-gradient(90deg,  rgba(0,23,195,1) 0%, rgba(144,2,234,1) 100%);
}
.c-cta--footer{
    border-radius: 0;
}
.c-cta__title{
      color: #fff;
      font-size: 1.8em;
      text-align: center;
      line-height: 1.2
}
.c-cta__form{
      margin-top: 25px;
}
.c-cta__input{
      display: block;
      width: 100%;
      padding: 13px 17px;
      font-size: 1.5em;
      border-radius: 25px;
      background: #fff;
      box-shadow: 0 0 0px 4px transparent;
      color: #000;

      transition: box-shadow 250ms ease-out;
}
.c-cta__input:focus{
    box-shadow: 0 0 0px 4px #000;
}
.c-cta__btn{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    background: #000020;
    color: #fff;
    padding: 15px 30px;
      font-size: 1.5em;
      border-radius: 25px;
      font-weight: 700;
}
.c-cta__error{
    display: block;
    color: #ff6798;
    font-weight: 700;
    font-size: 1.3em;
    margin-top: 10px;
    text-align: center;
}
.c-cta__message{
    color: #cfff5f;
    font-size: 2.4em;
    line-height: 1.2em;
}


/* BENEFITS */

.c-benefits-list{
    margin: 0 -20px;
    margin-top: 20px;
}
.c-benefits-item{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
}
.c-benefits-item__holder{
    padding: 30px;
    background: rgba(255,255,255,0.05);
    border-radius: 10px;
}
.c-benefits-item__title{
    font-size: 1.8em;
    color: #fff;
    font-weight: 700;
}
.c-benefits-item__text{
    margin-top: 10px;
    color: #fff;
    font-size: 1.4em;
    line-height: 1.4;
    opacity: .8;
}
.c-benefits-item__icon{
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 14px;
    background-image: url(images/icon-1.svg);
}
.c-benefits-item:nth-child(2) .c-benefits-item__icon{
    background-image: url(images/icon-2.svg);
}
.c-benefits-item:nth-child(3) .c-benefits-item__icon{
    background-image: url(images/icon-3.svg);
}


@media (max-width:979px){

    /* BENEFITS */

    .c-benefits-item{
        margin-top: 22px;
    }
    .c-benefits-item__holder{
        position: relative;
    }
    .c-benefits-item__icon{
        position: absolute;
        top: 50%;
        margin-top: -25px;
        width: 50px;
        height: 50px;
        left: 20px;
    }
    .c-benefits-item__title,
    .c-benefits-item__text{
        padding-left: 60px;
    }
    .c-benefits-item__title{
        font-size: 1.8em;
    }
    .c-benefits-item__text{
        font-size: 1.5em;
    }
}


/* FOOTER */

.c-footer{
    margin-top: 45px;
}
.c-footer__disclaimer{
    margin-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.4);
    padding: 20px 0;
    color: #fff;
    opacity: .25;
    font-size: 1.5em;
    text-align: center;
}
.c-footer .c-header__h1{
    position: relative;
    top: auto;
    transform: none;
    margin: 0 auto;
    width: 60px;
}
.c-footer .c-header__logo{
    padding-bottom: 43%;
}

@media (min-width:768px){

    .c-title{
        font-size: 4em;
    }

    /* HERO */

    .c-hero{
        height: 80vh;
        min-height: 650px;
    }
    .c-hero-title{
        font-size: 6em;
    }

    .c-hero-title__mark{
        position: relative;
        text-shadow:none;

    }
    .c-hero-title__mark::before{
        content: "";
        position: absolute;
        top: 0;
        left: -15px;
        right: -15px;
        height: 100%;
        padding: 0 10px;
        background: rgb(144,2,234);
        background: linear-gradient(90deg,  rgba(0,23,195,1) 0%, rgba(144,2,234,1) 100%);
        border-radius: 15px;
        z-index: -1;  
    }

    .c-hero__text{
        margin-top: 40px;
        font-size: 2.1em;
        max-width: 500px;
    }

    .c-cta{
        margin-top: 90px;
    }
    .c-cta--footer{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .c-cta__title,
    .c-cta__form{
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        text-align: left;
        margin-top: 0;
        padding: 0 15px;
    }
    .c-cta__title{
        font-size: 2em;
    }
    .c-cta__form{
        position: relative;
    }
    .c-cta__input{
        padding-top: 18px;
        padding-bottom: 18px;
        padding-right: 100px;
        border-radius: 25px;
        font-size: 1.6em;
    }
    .c-cta__btn{
        position: absolute;
        right:20px;
        top: 28px;
        margin-top: -23px;
        width: 100px;
        padding: 14px 15px;
        border-radius: 25px;
    }
    .c-cta__error{
        text-align: left;
    }


    /* FOOTER */

    .c-footer{
        margin-top: 45px;
    }
    .c-footer__disclaimer{
       text-align: left;
       padding: 30px 0;
       font-size: 1.6em;
    }
    .c-footer .c-header__h1{
        width: 70px;
        margin:  0;
    }


}

@media (min-width:980px){

    .c-title{
        font-size: 5.4em;
    }

    /* HERO */

    .c-hero{
        height: 100vh;
        padding-top: 100px;
        text-align: center;
        background-position: 60% -180px;
    }
    .c-hero::before{
        background: linear-gradient(0deg, rgba(0,0,32,0.98) 0%, rgba(0,0,32,0.7) 100%);
  }
    .c-hero__wrapper{
        text-align: left;
    }
    .c-hero-title{
        font-size: 6.8em;
    }

    .c-cta{
        margin-top: 100px;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .c-cta--footer{
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .c-cta__title,
    .c-cta__form{
        padding: 0 30px
    }
    .c-cta--footer .c-cta__title{
        font-size: 3em;
    }
    .c-cta__btn{
        right: 35px;
    }
    .c-cta__btn:hover,
    .c-cta__btn:focus{
        background: #5313d8;
    }
    .c-cta__input{
        padding-right: 120px;
    }
    .c-cta--footer .c-cta__input{
        font-size: 1.7em;
    }

     /* BENEFITS */

     .c-benefits-list{
        margin-top: 50px;
    }
    .c-benefits-item{
        padding: 0 20px;
        width: 33.33333%;
    }
    .c-benefits-item__holder::after{
        content: "";
        display: block; 
        padding-bottom: 100%;
    }
    .c-benefits-item__holder{
        position: relative;
    }
    .c-benefits-item__aligner{
        position: absolute;
        top: 50%;
        left: 40px;
        right: 40px;
        transform: translateY(-50%);

    }
    .c-benefits-item__title{
        font-size: 2.5em;
    }
    .c-benefits-item__text{
        font-size: 1.7em;
    }
    .c-benefits-item__icon{
        width: 55px;
        height: 55px;
    }

}